<aside class="menu">
    <h2 class="menu-label">
        Work Orders
    </h2>
    <ul class="menu-list">
        <li>
            <a class="<%= (headTitle === "Work Order Search" ? "is-active" : "") %>" href="<%= urlPrefix %>/workOrders">
                <span class="icon is-small"><i class="fas fa-fw fa-hard-hat" aria-hidden="true"></i></span>
                <span>Work Order Search</span>
            </a>
        </li>
        <li>
            <a class="<%= (headTitle.endsWith("Milestone Calendar") ? "is-active" : "") %>" href="<%= urlPrefix %>/workOrders/milestoneCalendar">
                <span class="icon is-small"><i class="fas fa-fw fa-calendar" aria-hidden="true"></i></span>
                <span>Milestone Calendar</span>
            </a>
        </li>
    </ul>
</aside>