* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 20px;
}

/* Elements */

.box {
    border: 1px solid black;
    padding: 10px;
}

.checkbox {
    height: 1.5em;
    width: 1.5em;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
}

.checkbox::before {
    content: ' ';
}

.checkbox.is-checked::before {
    content: '\2714';
}

/* Data Table */

.data-table {
    width: 100%;
}

.data-table thead th {
    padding: 5px;
    text-align: left;
}

.data-table tbody td {
    padding: 5px;
    text-align: left;
    border-top: 1px solid black;
    vertical-align: top;
}

/* Layout Table */

.layout-table {
    width: 100%;
    border: 0;
}

.layout-table td {
    vertical-align: top;
}

/* Table Helpers */

td.is-vcentered {
    vertical-align: middle;
}

td.is-width-1 {
    width: 1px;
}

/* Padding / Margins */

.m-0 {
    margin: 0;
}

.mt-1 {
    margin-top: 10px;
}

.mb-0 {
    margin-bottom: 0;
}

.pl-1 {
    padding-left: 10px;
}

/* Text Utilities */

.is-8pt {
    font-size: 8pt;
}

.has-text-right {
    text-align: right;
}

.has-text-italicized {
    font-style: italic;
}

.has-text-nowrap {
    white-space: nowrap;
}